/* You can add global styles to this file, and also import other style files */

.btn {
  border: none;
  background: none;
  cursor: pointer;
}

.btn:focus {
  outline: 0 !important;
}

.star {
  margin-right: 10px;
}

.star-grey {
  color: lightgray;
}

.star-light {
  color: red;
}
